@import "tailwindcss";

@theme {
  --color-brand-orange: #F47920;
  --color-brand-blue: #003473;
  --color-brand-green: #018C45;
  --color-brand-light: #f8f9fa;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Lato", sans-serif;
}

/* Custom Styles */
html {
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--color-brand-orange);
    color: white;
}
